[Unit]
Description=service that unpacks the configuration files

After=config.mount

[Service]
ExecStart=tar -xvf /config/config.tar.gz -C /
Type=oneshot

[Install]
WantedBy=multi-user.target
