[Unit]
Description=service that unpacks the configuration files

After=config.mount

[Service]
ExecStart=tar -xvf /config/config.tar.gz -C /

TimeoutStartSec=100
Type=oneshot
Delegate=yes
KillMode=process
Restart=no
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=1048576


[Install]
WantedBy=multi-user.target
